*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; 
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #fff; 
  color: #000; 
}

a {
  text-decoration: none;
  color: inherit; 
}

button,
input,
textarea {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  padding: 0;
}

img {
  display: block; 
  max-width: 100%; 
  height: auto;
}

table {
  border-collapse: collapse; 
  width: 100%;
}

select,
textarea,
input {
  appearance: none; 
  background-color: transparent;
}


ul,
ol {
  list-style: none; 
}

blockquote {
  quotes: none;
}

blockquote::before,
blockquote::after {
  content: '';
}

