@import url('reset.css');

body {
    width: 320px;
    background-color: #ececfa;
}

p,li {
    font-size: 0.9em;
}

h2 {
    font-size: 1em;
}
header {
    display: flex;
    align-items: center;
    background-color: #1c4a4f;

    img {
        width: 50%;
        height: 50%;
        padding: 1em;
    }
}

.porte {
    /* object-position: -20px; */
    height: 200px;
    width: 320px;

    img {
        object-fit: cover;
        object-position: -20px;
        height: 100%;
        width: 320px;
    }
}

ul {
    padding: 20px;
}


#choix_programme {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 60px;
    background-color: #333333;

    div.texte {
        width: 360px;
        padding:40px;
        color: white;

        h2 {
            margin-bottom: 10px;
        }
    }
    img {
        object-fit: cover;
        /* height: 300px; */
        height: auto;
        width: 700px;
        margin-right: 60px;
    }
}

div.presentation {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

#date {

}

#ambassadeurs {
    display: flex;
}